.main-slider {

	&__wrapper {
		justify-content: space-between;
		@include list-reset;
	}

	&__box {
		position: relative;
	}

	&__slide {
		box-sizing: border-box;
		border: 1px solid rgba(106, 121, 135, 0.3);
	}

	&__btn-prev, &__btn-next {
		@include button-reset;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 0;
		width: 30px;
		height: 100px;
		background-color: $purple;
		z-index: 99999;

		& svg {
			fill: $white;
			stroke: $white;
		}

		&::after {
			content: none;
		}
	}

	&__btn-prev {
		left: -50px;

		& img {
			transform: rotate(180deg);
		}

		@include tablet {
			left: calc(-50px + 5px)
		}

		@include mobile {
			width: 25px;
			left: calc(-50px + 15px)
		}
	}

	&__btn-next {
		right: -50px;

		@include tablet {
			right: calc(-50px + 5px)
		}

		@include mobile {
			width: 25px;
			right: calc(-50px + 15px)
		}
	}


	&__img-wrapper {

		min-height: 185px;
		margin-bottom: 40px;
	}

	&__img {
		display: block;
		object-fit: contain;
		height: 185px;
		width: 100%;
		max-width: 100%;
	}

	&__brend {
		margin-top: 0;
		margin-bottom: 15px;
		font-family: $proxima-extrabold;
		font-size: 20px;
		text-align: center;
		line-height: 22px;
		text-transform: uppercase;

		@include mobile {
			font-size: 15px;
			line-height: 17px;
		}
	}

	&__type {
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;

		@include mobile {
			font-size: 15px;
			line-height: 17px;
		}
	}


	&__link {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
		align-items: center;
		padding-top: 45px;
		padding-bottom: 30px;
		text-decoration: none;
		color: $blue;

		&:hover {
			& .main-slider__info{
				top: -45px;
				background-color: $white;
				z-index: 10000;

				&::before {
					content: '';
					position: absolute;
					top: -100px;
					right: 0;
					left: 0;
					width: 100%;
					height: 100px;
					background: linear-gradient( 180deg, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
				}
			}

			& .main-slider__btn{
				display: block;
			}
		}

		@include tablet-small {
			&:hover {
				& .main-slider__info {
					&::before {
						content: none;
					}
				}
			}
		}
	}

	&__info {
		position: relative;
		width: 100%;

		@include tablet-small {
			position: static;
		}
	}

	&__btn {
		display: none;
		margin-top: 10px;
		margin-left:auto;
		margin-right: auto;
		padding: 10px 20px;
		font-family: $proxima-extrabold;
		font-size: 14px;
		line-height: 14px;
		color: $white;
		text-decoration: none;
		text-transform: uppercase;

		@include tablet {
			display: block;
		}
	}
}

